<template name="SideNav">
    <nav class="side-nav">
        <ul>
            <li><a href="/sea"><i class="fa fa-life-ring"></i>Sea</a></li>
            <li><a href="/rescue-center"><i class="fa fa-home"></i>Rescue center</a></li>
            <li><a href="/recipe-book"><i class="fa fa-list"></i>Recipe book</a></li>
            <li><a href="/menu"><i class="fa fa-map-o"></i>Menu</a></li>
            <li><a href="/shopping-list"><i class="fa fa-shopping-cart"></i>Shopping List</a></li>
        </ul>
    </nav>
</template>